#calculator {
    width: 300px;
}

#output {
    background-color: blue;
    height: 60px;
    width: 250px;
    font-size: 50px;
    padding: 5px;
}

.button    {
    height: 45px;
    width: 45px;
}