.header {
    background-color:#AFAC;
    font-family: 'Century Gothic';
    font-size: 21px;
    text-align: center;
    margin: 0;
    color: rgb(0, 58, 29);
    height: 55px;
}

@media screen and (max-width: 600px)    {
    .header {
        height: 110px;
    }
}