h1_mod  {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightseagreen;
}
p  {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkseagreen;
}

#topper {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkslategrey;
    background-color:greenyellow;
    font-size:40px;
    height:50px;
    margin:2px auto 2px auto;
    text-align:center;
}

body {
    background-image: url("../resources/animu.gif");
    background-color: pink;
}

nav {
    background-color: black;
    color: white;
    width: 120px;
    height: 100vh;
    float: left;
}

header {
    background-color: lightyellow;
    color:darkblue;
    font-family: 'Comic Sans MS';
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
}

main {
    background-color: aqua;
    color: darkred;
    height: 100vh;
}

footer {
    background-color: rosybrown;
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}